{% if nav %}
    <ul class="navbar-nav ms-auto">
        {% for item in items %}
            {% if item != loop.last %}
                <li class="nav-item{% if item.current %} active{% endif %}" data-namespace="{{item.slug}}">
                    <a class="nav-link" href="{{ item.link }}">
                        <span class="item-link">{{ item.title }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% for item in items %}
        {% if item == loop.last %}
            <a class="btn btn-round btn-sm btn-secondary btn-demo ms-md-4 ms-lg-5" href="{{ item.link }}">{{ item.title }}</a>            
        {% endif %}
    {% endfor %}

    <div class="nav-mobile">
        <div class="wrap-nav">
            <div class="container">
                <ul class="list-unstyled text-center mb-3">
                {% for item in items %}
                    {% if item != loop.last %}
                        <li class="nav-item{% if item.current %} active{% endif %}" data-namespace="{{item.slug}}">
                            <a class="nav-link" href="{{ item.link }}">{{ item.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
                {% for item in items %}
                    {% if item == loop.last %}
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-round btn-sm btn-secondary btn-demo-mobile" href="{{ item.link }}">{{ item.title }}</a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
                <div class="wrap-img mt-5">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-7">
                                <img class="img-fluid" src="../../images/illu-waiter.svg">
                            </div>
                        </div>
                    </div>	                    
                </div>
        </div>
    </div>
{% endif %}