{% block html_head_container %}
    {% include 'layout/html-header.twig' %}
    {% block head %}{% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}">
    {% block header %}
        <header class="header">
                <nav id="nav" class="navbar navbar-expand-md">
                    <div class="container-fluid px-0">
                        <a class="navbar-brand" href="{{site.url}}">
                            <img src="{{custom_logo_url}}" alt="Serveat"/>
                            {# <img src="../images/logo-inline-white.svg" data-dark="{{custom_logo_url}}" alt="Serveat"/> #}
                        </a>
                        <div class="btn-nav">
                            <span class="icon-nav"></span>
                        </div>						
                    {% include "layout/nav.twig" with {'items': nav.get_items} %}							
                    </div>
                </nav>
        </header>
    {% endblock %}
    <div class="scroll-content" data-scroll-container>
        <div id="app" data-barba="wrapper">
            {% block content %}
            {% endblock %}
        </div>
        <div class="page-transition-backdrop"></div> 
        <div id="scroll-to-top">
            <a href="#hero" class="btn-to-top" data-scroll-to>
                <i class="fas fa-chevron-up"></i>
            </a>
        </div>
        {% block footer %}
                {% block contentFooter %}
                <footer class="footer" data-scroll-section>
                    {% include 'layout/footer.twig' %}
                </footer>
                {% endblock %}
            {{ function('wp_footer') }}
        {% endblock %} 
    </div>
</body>
</html>