{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="demo">
    <div class="content-demo pb-5" data-scroll-section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 block-img">
                    <div class="inner-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
                    <div class="content-block" data-scroll data-scroll-speed="3">
                        <div class="inner-title">
                            <h1 class="title-demo mb-3" data-splitting>{{ post_demo.meta('title_demo') }}</h1>
                        </div>
                        <div class="inner-subtitle">
                            <h2 class="subtitle-demo mb-2 mb-lg-0" data-splitting>{{ post_demo.meta('subtitle_demo') }}</h2>
                        </div>
                        <div class="inner-txt">
                            <p class="mb-0 txt-demo" data-splitting>{{ post_demo.meta('txt_demo') }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="content-form" data-scroll>
                        {{post.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}