{% extends "base.twig" %}

{% block content %}
<div class="page-container" data-barba="container" data-barba-namespace="contact">
    <div id="hero" class="header-page" data-scroll-section>
        <div class="header-content">
        <div class="header-img" style="background-image: url('{{ post.thumbnail.src }}')"></div>
            <div class="header-title" data-scroll data-scroll-speed="2">
                <div class="container">
                    <div class="row">
                        <div class="inner-title">
                            <h1 class="title-page" data-splitting>{{post.title}}</h1>
                        </div>
                        <div class="inneer-subtitle">
                            <p class="subtitle" data-splitting>{{ post_header.meta('subtitle_header_page') }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container"data-scroll-section>
        <div class="form-contact bg-white" data-scroll data-scroll-speed="-2">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="content-info bg-grey-light d-none d-lg-flex">
                        <div class="content-top">
                            <h2 class="font-weight-bold mb-5">{{ post_contact.meta('title_contact') }}</h2>
                            <p>{{ post_contact.meta('txt_contact') }}.</p>
                        </div>
                        <div class="wrap-img">
                            <img class="img-fluid" src="../images/illu-contact-email.svg" alt="">
                        </div>                  
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content-form">
                        {{post.content}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}