<div class="container">
    <div class="solution-list bg-grey-light p-5" data-scroll data-scroll-speed="3">
        <div class="row">
            {% if post_pack.meta('affichage_block_txt_pack') == true %}
                <div class="col-lg-5">
                    <h2 class="section-title mb-3">{{post_pack.meta('title_pack')}}</h2>
                    <div class="mb-5 mb-lg-0">
                        {{post_pack.meta('txt_pack')}}
                    </div>
                </div>
                <div class="col-lg-7">
                    <img class="img-fluid" src="{{post_pack.meta('image_pack')}}" alt="{{post_pack.meta('alt_pack')}}">
                </div>
            {% else %}
                <div class="col-12">
                    <img class="img-fluid img-center" src="{{post_pack.meta('image_pack')}}" alt="{{post_pack.meta('alt_pack')}}">
                </div>
            {% endif %}
        </div>
        <div class="row pt-5">
        {% for post_pack_serveat in posts_pack_serveat %}
            <div class="col-lg-4">
                <div class="item-list h-100 d-flex">
                    <div class="item-icon mt-1">
                        <i class="{{post_pack_serveat.icon_list_pack}} c-peach"></i>
                    </div>
                    <div class="item-list-content ms-3">
                        <h3>{{post_pack_serveat.title}}</h3>
                        <p>{{post_pack_serveat.meta('txt_list_pack')}}</p>
                    </div>
                </div>                              
            </div>
         {% endfor %}           
        </div>
    </div>
</div>
