<div class="container">
    <div class="row">
        <div class="col-12 text-center pb-5">
            <div class="section-icon">
                <i class="{{ post_app.meta('icon_app') }} c-peach"></i>
            </div>
            <span class="c-peach d-block mb-2">{{ post_app.meta('section_title_app') }}</span>
                <h2 class="section-title line-bottom">{{ post_app.meta('title_application') }}</h2>
                <p class="mb-0 mt-4">{{ post_app.meta('subtitle_application') }}</p>          
        </div>      
    </div>
</div>
<div class="wrapper-slider">
    <div class="container">
        <div class="row">
        <div class="col-md-4 order-2 order-md-1">
            <div class="wrap-card" data-scroll>
                {% for i, post_card_slider in posts_card_slider %}
                    {% if loop.index == 1 or loop.index == 2 %}
                    {% set i = i + 1 %}
                        <div class="inner-card" data-scroll data-scroll-speed="{{i}}">
                            <div class="card card-app card-{{i}}{% if loop.first %} active{% endif %}">
                                <div class="card-header">
                                {% if post_card_slider.icon_optional_slider is not empty %}
                                    <div class="d-flex justify-content-center mb-2">
                                        <i class="{{post_card_slider.icon_slider}} me-2"></i>
                                        <i class="{{post_card_slider.icon_optional_slider}}"></i>
                                    </div>
                                {% else %}
                                    <i class="{{post_card_slider.icon_slider}}"></i>
                                {% endif %}
                                    <h3>{{post_card_slider.title}}</h3>
                                </div>
                                <div class="card-body">
                                    <p>{{post_card_slider.txt_slider}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 order-1 order-md-2">
        <div class="wrap-slider mb-5 mb-md-0" data-scroll>
            <div class="slider-device" data-scroll data-scroll-speed="1">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                    {% for post_card_slider in posts_card_slider %}
                        <div class="swiper-slide">
                            <img class="img-fluid" src="{{post_card_slider.meta('image_slider')}}" alt="{{post_card_slider.alt_slider}}">
                        </div>
                    {% endfor %}                        
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-4 order-3">
            <div class="wrap-card" data-scroll>
                {% for i, post_card_slider in posts_card_slider %}
                    {% if loop.index == 3 or loop.index == 4 %}
                    {% set i = i + 1 %}
                        <div class="inner-card" data-scroll data-scroll-speed="{% if loop.index == 3 %}1 {% elseif loop.index == 4 %}2{% endif %}">
                            <div class="card card-app card-{{i}}">
                                <div class="card-header">
                                {% if post_card_slider.icon_optional_slider is not empty %}
                                    <div class="d-flex justify-content-center mb-2">
                                        <i class="{{post_card_slider.icon_slider}} me-2"></i>
                                        <i class="{{post_card_slider.icon_optional_slider}}"></i>
                                    </div>
                                {% else %}
                                    <i class="{{post_card_slider.icon_slider}}"></i>
                                {% endif %}
                                    <h3>{{post_card_slider.title}}</h3>
                                </div>
                                <div class="card-body">
                                    <p>{{post_card_slider.txt_slider}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>