<div class="container">
    <div class="row">
        <div class="col-12 text-center pb-4">
            <div class="section-icon">
                <i class="{{ post_avantage.meta('icon_avantage') }} c-peach"></i>
            </div>
            <span class="c-peach d-block mb-2">{{ post_avantage.meta('section_title_avantage') }}</span>
                <h2 class="section-title line-bottom">{{ post_avantage.meta('title_avantage') }}</h2>
                <p class="mb-0 mt-4">{{ post_avantage.meta('subtitle_avantage') }}</p>
        </div>
    </div>
    <div class="row">
    {% for post_card_avantage in posts_card_avantage %}
        <div class="col-md-6 col-lg-4 py-2 mb-3 mb-lg-0">
            <div class="card h-100" data-scroll data-scroll-speed="1">
                <div class="card-header">
                    <div class="card-icon">
                        <i class="{{post_card_avantage.icon_card_avantage}}"></i>
                    </div>
                    <div class="card-title">
                        <h3>{{post_card_avantage.title}}</h3>
                    </div>
                </div>
                <div class="card-body">
                    <p>{{post_card_avantage.meta('txt_card_avantage')}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>