<div class="container-fluid px-0">
    <div class="row g-0">
        <div class="col-md-7 col-lg-8 img-cta">
            <div class="inner-img">
                <div class="bg-img" data-scroll data-scroll-speed="-2">
                    <img class="img-fluid img-cover" src="{{ post_cta.meta('image_cta') }}" alt="{{ post_cta.meta('alt_cta') }}">
                </div>
            </div>
        </div>
        <div class="col-md-5 col-lg-4 bg-blue-dark c-white">
            <div class="block-txt block-center align-items-start c-white p-5 h-100">
                <h2 class="mb-3">{{ post_cta.meta('title_cta') }}</h2>
                {{ post_cta.meta('txt_cta') }}
                <a href="{{site.link}}/demande-de-demo" class="btn btn-round btn-sm btn-secondary mt-4">Demandez une démo</a>
            </div>
        </div>
    </div>
</div>