<div class="wrap-keyword">
    <div class="keyword keyword-left pt-5">
        <p class="keyword-txt" data-scroll data-scroll-speed="-2" data-scroll-direction="horizontal" data-scroll-target="#profitability">{{ post_profitability.meta('keyword_1_profitability') }}</p>
    </div>
    <div class="keyword keyword-right pt-3">
        <p class="keyword-txt" data-scroll data-scroll-speed="6" data-scroll-direction="horizontal" data-scroll-target="#profitability">{{ post_profitability.meta('keyword_2_profitability') }}</p>
    </div>
</div>
<div class="container position-relative pt-xl-8">
    <div class="row">
        <div class="col-12 col-lg-4 order-lg-1 order-2">
            <div class="px-4 d-flex align-items-end h-100">
                <img class="img-fluid" src="{{ post_profitability.meta('image_profitability') }}" alt="{{ post_profitability.meta('alt_profitability') }}">
            </div>
        </div>
        <div class="col-12 col-lg-8 order-lg-2 order-1">
            <div class="block-txt block-center b-radius-1 p-3 p-md-4 p-lg-5 h-100 bg-white c-blue-dark">
                <div class="section-icon mb-2">
                    <i class="{{ post_profitability.meta('icon_profitability') }} c-peach"></i>
                </div>
                <h2 class="section-title c-blue-dark mb-4">{{ post_profitability.meta('title_profitability') }}</h2>
                {{ post_profitability.meta('txt_profitability') }}
            </div>
        </div>
    </div>
</div>