<div class="hero-bg-img" style="background-image: url('{{ post_hero.meta('image_bg_hero') }}')" data-scroll data-scroll-speed="-1" data-scroll-position="top" data-scroll-target="#hero"></div>
<div class="bg-shape" data-scroll data-scroll-speed="-1" data-scroll-position="top" data-scroll-target="#hero"></div>
<div class="container position-relative z-index-1">
    <div class="row">
        <div class="col-12 text-center" data-scroll data-scroll-speed="-1" data-scroll-position="top">
            <h1 class="hero-title mb-4" data-splitting>{{ post_hero.meta('title_hero') }}</h1>
            <div class="hero-baseline">
                <p class="mb-4">{{ post_hero.meta('txt_hero') }}</p>
            </div>
            <div class="hero-btn mb-4">
                <div class="inner-btn"> 
                    <a class="btn btn-round btn-sm btn-secondary" href="{{site.link}}/demande-de-demo">Demandez une démo</a>
                    <a class="btn btn-round btn-sm btn-outline btn-primary" href="{{site.link}}/contact">Contactez-nous</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
            <img class="img-fluid img-center" src="{{ post_hero.meta('image_hero') }}" alt="{{ post_hero.meta('alt_hero') }}">
        </div>
    </div>
</div>
<div class="wrapper-element element-1">
    <div class="element-icon bg-peach-light" data-scroll data-scroll-speed="2">
        <i class="icon serveat-waiter c-peach"></i>
    </div>
</div>
<div class="wrapper-element element-2">
    <div class="element-icon bg-peach-light" data-scroll data-scroll-speed="3">
        <i class="icon serveat-payment c-peach"></i>
    </div>
</div>
<div class="wrapper-element element-3">
    <div class="element-icon bg-white" data-scroll data-scroll-speed="3">
        <i class="icon serveat-notification c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-4">
    <div class="element-icon bg-white" data-scroll data-scroll-speed="1">
        <i class="icon serveat-restaurant c-blue-grey"></i>
    </div>
</div>
<div class="wrapper-element element-5">
    <div class="element-icon bg-white" data-scroll data-scroll-speed="1">
        <i class="icon serveat-card c-blue-grey"></i>
    </div>
</div>
